body {
    width: 100vw;
    height: 100%;
    margin: 0;
    padding: 0;

}


header {
    width: 100%;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #082129;
}


header img {
    width: 30px;
    height: 30px;
    margin: 0;
    padding: 0;
}


header h1 {
    margin: 0;
    padding: 0;
    color: white;
}


header input {
    margin-right: 10px;
    padding: 5px;
    border-radius: 5px;
    border: none;
}


.header-div {
    display: flex;
    align-items: center;
    gap: 5px;
    margin-left: 10px;
}


main {
    width: 100%;
    background-color: #0c3947;
    height: 100%;
}


main section {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    padding: 20px;
    justify-content: center;
}


main img {
    width: 130px;
    height: 130px;
}


dialog {
    
    flex-direction: column;
    align-items: center;
    width: 300px;
    height: 60%;
    border: none;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 12px 12px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}


dialog img {
    width: 200px;
    height: 200px;
}


dialog h2 {
    text-align: center;
    margin: 0;
}

footer {
    width: 100%;
    height: 100px;
    background-color: #082129;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
    padding: 0;
}