body {
    height: 100%;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    padding-bottom: 100px;
}


header {
    width: 100%;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #082129;
}


header img {
    width: 30px;
    height: 30px;
    margin: 0;
    padding: 0;
}


header h1 {
    margin: 0;
    padding: 0;
    color: white;
}


header input {
    margin-right: 20px;
    padding: 5px;
    border-radius: 5px;
    border: none;
}


.header-div {
    display: flex;
    align-items: center;
    gap: 5px;
    margin-left: 10px;
}


header a{
    text-decoration: none;
    display: flex;
}


.loader {
    border: 24px solid #FFF;
    border-color: #FF3D00 #FF3D00 #fff #fff;
    border-radius: 50%;
    position: relative;
    animation: rotate 1s linear infinite
}

.loader:before {
    content: '';
    position: absolute;
    top: 50%;
    transform: translate(-50%, -125%);
    left: 50%;
    width: 12px;
    height: 12px;
    background: #fff;
    border-radius: 50%;
}

@keyframes rotate {
    100% {
        transform: rotate(360deg)
    }
}


main {
    width: 100%;
    height: 100vh;
    background-color: #0c3947;
}


main section {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    padding: 20px;
    justify-content: center;
}


main img {
    width: 100px !important;
    height: 100px !important;
}


dialog {

    flex-direction: column;
    align-items: center;
    
    border: none;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 12px 12px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}


dialog img {
    width: 200px;
    height: 200px;
}


dialog h2 {
    text-align: center;
    margin: 0;
}


.loadMoreContainer {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #0c3947;
    padding-bottom: 3%;
}


.loadMoreContainer img {
    width: 80px;
    height: 80px;
    filter: drop-shadow(2px 4px 6px white);
    transition: transform 0.2s;
}


.loadMoreContainer img:hover {
    cursor: pointer;
    transform: scale(1.1);
}


footer {
    width: 100%;
    height: 100px;
    background-color: #082129;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
    padding: 0;
    position: fixed;
    bottom: 0;
}
    

@media screen and (max-width: 500px) {
   header {
        flex-direction: column;
        height: auto;
        padding: 10px 0;
    }
    .header-div {
        margin: 0;
        gap: 0;
    }
    header input {
        margin: 10px 0 0 0;
    } 
   .pokemonDialogMainContent {
        flex-direction: column !important;
    }
}


@media (max-width: 600px) {
    .evolutionCard img {
        width: 55px !important;
        height: 55px!important;
    }
}