.pokemon-card {
    border: 1px solid #000;
    border-radius: 10px;
    padding: 10px;
    text-align: center;
    width: 220px !important;
    margin: 10px;
    cursor: pointer;
    transition: transform 0.2s;
}


.pokemon-card:hover {
    box-shadow: 0 12px 12px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    transform: scale(1.1);
}


.pokemonDialogHeader {
    display: flex;
    flex-direction: column;
    align-items: center;
}


.pokemonDialogHeader button {
    position: absolute;
    top: 10px;
    right: 10px;
    border: none;
    appearance: none;
}


.pokemonDialogHeader button:hover {
    background-color: white;
    transform: scale(1.06);
    cursor: pointer;
    border-radius: 12px;
}


.typeContainer {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-top: 8px;
}


.typeContainer img {
    width: 40px !important;
    height: 40px !important;
}


.pokemonDialogNav {
    text-align: center;
    margin-top: 12px;
    background-color: white;
    display: flex;
    justify-content: space-around;
}


.pokemonDialogNav button {
    background-color: white;
    border: none;
    font-family: sans-serif;
    flex-grow: 1;

}


.pokemonDialogMain {
    background-color: white;
    border-radius: 0px 0 20px 20px;

    margin-top: 12px;
}


.pokemonDialogMain a {
    margin: 5px;
    text-decoration: none;
    font-size: small;
    font-weight: bold;
    font-family: sans-serif;
    color: black;
}


.pokemonDialogMain a:hover {
    cursor: pointer;
    transform: scale(1.06);
}


.pokemonDialogMainFooter {
    display: flex;
    justify-content: space-around;
    border-bottom: 1px solid #ccc;
}


.pokemonDialogMainContent img {
    width: 50px;
    height: 50px;
    margin-left: 5px;
}


.pokemonDialogMainContent {
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
    height: 100%;
    padding: 15px;
}


.statsContainer {
    width: 100%;
    height: 100%;
}


.progress-bar-striped {
    background-image: linear-gradient(45deg, rgba(255, 255, 255, .15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, .15) 50%, rgba(255, 255, 255, .15) 75%, transparent 75%, transparent);
    background-size: 1rem 1rem;
}


.progress-bar {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    color: #fff;
    text-align: center;
    background-color: #007bff;
    transition: width .6s ease;
}


.progress {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    height: 0.7rem;
    overflow: hidden;
    font-size: .75rem;
    background-color: #e9ecef;
    border-radius: .25rem;
}


.evolutionCard img {
    width: 80px;
    height: 80px;

}


.loader-more {
    width: 48px;
    height: 48px;
    border: 10px solid #FFF;
    border-radius: 50%;
    position: relative;
    transform: rotate(45deg);
    box-sizing: border-box;
}


.loader-more::before {
    content: "";
    position: absolute;
    box-sizing: border-box;
    inset: -10px;
    border-radius: 50%;
    border: 10px solid #FF3D00;
    animation: prixClipFix 2s infinite linear;
}

@keyframes prixClipFix {
    0% {
        clip-path: polygon(50% 50%, 0 0, 0 0, 0 0, 0 0, 0 0)
    }

    25% {
        clip-path: polygon(50% 50%, 0 0, 100% 0, 100% 0, 100% 0, 100% 0)
    }

    50% {
        clip-path: polygon(50% 50%, 0 0, 100% 0, 100% 100%, 100% 100%, 100% 100%)
    }

    75% {
        clip-path: polygon(50% 50%, 0 0, 100% 0, 100% 100%, 0 100%, 0 100%)
    }

    100% {
        clip-path: polygon(50% 50%, 0 0, 100% 0, 100% 100%, 0 100%, 0 0)
    }
}


.pokemon {
    position: relative;
    height: 100px;
    width: 100px;
    background: linear-gradient(to bottom, rgb(254, 0, 1) 50%, white 50%);
    border-radius: 50%;
    border: 8px solid black;

}


.pokemon::before {
    content: '';
    position: absolute;
    height: 8px;
    width: 100px;
    background: black;
    top: 50px;
    transform: translatey(-50%);
}


.pokemon::after {
    content: '';
    position: absolute;
    height: 38px;
    width: 38px;
    border-radius: 50%;
    background: white;
    top: 50px;
    left: 50px;
    transform: translate(-50%, -50%);
    box-shadow: inset 0 0 0 8px black, inset 0 0 0 10px white, inset 0 0 0 12px black;

}


/* Spin Animation */
@keyframes spin {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}