.pokemon-card {
    border: 1px solid #000;
    border-radius: 10px;
    padding: 10px;
    text-align: center;
    width: 220px !important;
    margin: 10px;
    cursor: pointer;
}


.pokemon-card:hover {
    box-shadow: 0 12px 12px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    transform: scale(1.1);
}

.pokemonDialogFooter {
    display: flex;
    flex-direction: column;
    align-items: center;
}


.pokemonDialogNav {
    text-align: center;
    margin-top: 12px;
    background-color: white;
}


.pokemonDialogNav button {
    background-color: white;
    border: none;
    font-family: sans-serif;
    padding: 0px 12px 0px 12px;
    cursor: pointer;
}

.pokemonDialogMain {
    background-color: white;
    border-radius: 0px 0 20px 20px;
    height: 50%;
    margin-top: 12px;
}

.pokemonDialogMain a {
    margin: 5px;
    text-decoration: none;
    font-size: small;
    font-weight: bold;
    font-family: sans-serif;
    color: black;
}


.pokemonDialogMain a:hover {
    cursor: pointer;
    transform: scale(1.06);
}


.pokemonDialogMainFooter {
    display: flex;
    justify-content: space-around;
    border-bottom: 1px solid #ccc;
}


.pokemonDialogMainContent img {
    width: 50px;
    height: 50px;
    margin-left: 5px;
}

.pokemonDialogMainContent {
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
    height: 100%;
    padding: 5px;
}


.statsContainer {
    width: 100%;
    height: 100%;
}


.progress-bar-striped {
    background-image: linear-gradient(45deg, rgba(255, 255, 255, .15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, .15) 50%, rgba(255, 255, 255, .15) 75%, transparent 75%, transparent);
    background-size: 1rem 1rem;
}


.progress-bar {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    color: #fff;
    text-align: center;
    background-color: #007bff;
    transition: width .6s ease;
}


.progress {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    height: 1rem;
    overflow: hidden;
    font-size: .75rem;
    background-color: #e9ecef;
    border-radius: .25rem;
}