.grass{
    background-color:cadetblue ;
}


.fire{
    background-color:chocolate;
}


.water{
    background-color:cornflowerblue;
}


.bug{
    background-color:darkolivegreen;
}


.normal{
    background-color:wheat;
}


.poison{
    background-color:darkslateblue;
}


.electric{
    background-color:gold;
}


.ground{
    background-color:sandybrown;
}


.fairy{
    background-color:pink;
}

