.grass {
    background-color: cadetblue;
}


.button-grass {
    background-color: white;
}


.button-grass:hover {
    background-color: cadetblue;
    transform: scale(1.06);
    cursor: pointer;
}


.fire {
    background-color: chocolate;
}


.button-fire {
    background-color: white;
}


.button-fire:hover {
    background-color: chocolate;
    transform: scale(1.06);
    cursor: pointer;
}


.water {
    background-color: cornflowerblue;
}


.button-water {
    background-color: white;
}


.button-water:hover {
    background-color: cornflowerblue;
    transform: scale(1.06);
    cursor: pointer;
}


.bug {
    background-color: darkolivegreen;
}


.button-bug {
    background-color: white;
}


.button-bug:hover {
    background-color: darkolivegreen;
    transform: scale(1.06);
    cursor: pointer;
}


.normal {
    background-color: wheat;
}


.button-normal {
    background-color: white;
}


.button-normal:hover {
    background-color: wheat;
    transform: scale(1.06);
    cursor: pointer;
}


.poison {
    background-color: darkslateblue;
}


.button-poison {
    background-color: white;
}


.button-poison:hover {
    background-color: darkslateblue;
    transform: scale(1.06);
    cursor: pointer;
}


.electric {
    background-color: gold;
}


.button-electric {
    background-color: white;
}


.button-electric:hover {
    background-color: gold;
    transform: scale(1.06);
    cursor: pointer;
}


.ground {
    background-color: sandybrown;
}


.button-ground {
    background-color: white;
}


.button-ground:hover {
    background-color: sandybrown;
    transform: scale(1.06);
    cursor: pointer;
}


.fairy {
    background-color: pink;
}


.button-fairy {
    background-color: white;
}


.button-fairy:hover {
    background-color: pink;
    transform: scale(1.06);
    cursor: pointer;
}