.grass {
    background-color: cadetblue;
}


.button-grass {
    background-color: white;
}


.button-grass:hover {
    background-color: cadetblue;
    transform: scale(1.06);
    cursor: pointer;
    flex-grow: 1;
}


.fire {
    background-color: chocolate;
}


.button-fire {
    background-color: white;
}


.button-fire:hover {
    background-color: chocolate;
    transform: scale(1.06);
    cursor: pointer;
}


.water {
    background-color: cornflowerblue;
}


.button-water {
    background-color: white;
}


.button-water:hover {
    background-color: cornflowerblue;
    transform: scale(1.06);
    cursor: pointer;
}


.bug {
    background-color: darkolivegreen;
}


.button-bug {
    background-color: white;
}


.button-bug:hover {
    background-color: darkolivegreen;
    transform: scale(1.06);
    cursor: pointer;
}


.normal {
    background-color: wheat;
}


.button-normal {
    background-color: white;
}


.button-normal:hover {
    background-color: wheat;
    transform: scale(1.06);
    cursor: pointer;
}


.poison {
    background-color: darkslateblue;
}


.button-poison {
    background-color: white;
}


.button-poison:hover {
    background-color: darkslateblue;
    transform: scale(1.06);
    cursor: pointer;
}


.electric {
    background-color: gold;
}


.button-electric {
    background-color: white;
}


.button-electric:hover {
    background-color: gold;
    transform: scale(1.06);
    cursor: pointer;
}


.ground {
    background-color: sandybrown;
}


.button-ground {
    background-color: white;
}


.button-ground:hover {
    background-color: sandybrown;
    transform: scale(1.06);
    cursor: pointer;
}


.fairy {
    background-color: pink;
}


.button-fairy {
    background-color: white;
}


.button-fairy:hover {
    background-color: pink;
    transform: scale(1.06);
    cursor: pointer;
}


.fighting {
    background-color: hotpink
}


.button-fighting:hover {
    background-color: hotpink;
    transform: scale(1.06);
    cursor: pointer;
}


.psychic {
    background-color: #F95587;
}


.button-psychic:hover {
    background-color:#F95587;
    transform: scale(1.06);
    cursor: pointer;
}


.rock {
    background-color: #B6A136;
}


.button-rock:hover {
    background-color:#B6A136 ;
    transform: scale(1.06);
    cursor: pointer;
}


.ghost {
    background-color:#735797 ;
}


.button-ghost:hover {
    background-color:#735797;
    transform: scale(1.06);
    cursor: pointer;
}


.ice {
    background-color:#96D9D6 ;
}


.button-ice:hover {
    background-color:#96D9D6;
    transform: scale(1.06);
    cursor: pointer;
}


.dragon {
    background-color:#6F35FC ;
}


.button-dragon:hover {
    background-color:#6F35FC;
    transform: scale(1.06);
    cursor: pointer;
}


.dark {
    background-color: #705746 ;
}


.button-dark:hover {
    background-color:#705746;
    transform: scale(1.06);
    cursor: pointer;
}


.steel {
    background-color:#B7B7CE ;
}


.button-steel:hover {
    background-color:#B7B7CE;
    transform: scale(1.06);
    cursor: pointer;
}